In [ ]:
## 1. Average data for a year if two satellites collected the data.

In [3]:
import glob
import pandas as pd

### For annual data

In [4]:
# for folder in glob.glob("./data/earth_observation_group/annual/*"):
#     csv_files = [file for file in glob.glob(folder+"/*") if ".csv" in file]
#     if len(csv_files) == 2:
#         combined_df = None
#         for file in csv_files:
#             if combined_df is None:
#                 combined_df = pd.read_csv(file)
#             else:
#                 new_df = pd.read_csv(file)
#                 combined_df = combined_df.set_index("Region Code").join(new_df.set_index("Region Code"), 
#                                                                         rsuffix="_1").reset_index()
#                 combined_df["annual_ntl_sum"] = combined_df[["annual_ntl_sum", "annual_ntl_sum_1"]].mean(axis=1)
        
#         combined_df.drop(columns=["annual_ntl_sum_1"], inplace=True)
        
#         tmp = file.split("/")
#         tmp[-1] = "countries_ntl_sum.csv"
#         new_filename = '/'.join(tmp)
        
#         combined_df.to_csv(new_filename, index=False)

### For monthly data

In [29]:
def combine_satellites_data(year):
    for month_folder in glob.glob("./data/earth_observation_group/monthly/{}/*".format(year)):
        csv_files = [file for file in glob.glob(month_folder+"/*") if ".csv" in file]
        if len(csv_files) == 2:
            combined_df = None
            for file in csv_files:
                if combined_df is None:
                    combined_df = pd.read_csv(file)
                else:
                    new_df = pd.read_csv(file)
                    combined_df = combined_df.set_index("Region Code").join(new_df.set_index("Region Code"), 
                                                                            rsuffix="_1").reset_index()
                    combined_df["rescaled_calibrated_ntl_sum"] = combined_df[["rescaled_calibrated_ntl_sum", 
                                                                              "rescaled_calibrated_ntl_sum_1"]].mean(axis=1)

            cols_to_drop = list(combined_df.columns)
            cols_to_drop.remove("Region Code")
            cols_to_drop.remove("rescaled_calibrated_ntl_sum")
            combined_df.drop(columns=cols_to_drop, inplace=True)

            tmp = file.split("/")
            tmp[-1] = "countries_ntl_sum.csv"
            new_filename = '/'.join(tmp)
            combined_df.to_csv(new_filename, index=False)

In [30]:
combine_satellites_data(2001)

./data/earth_observation_group/monthly/2001/07/countries_ntl_sum.csv
./data/earth_observation_group/monthly/2001/06/countries_ntl_sum.csv
./data/earth_observation_group/monthly/2001/02/countries_ntl_sum.csv
./data/earth_observation_group/monthly/2001/05/countries_ntl_sum.csv
./data/earth_observation_group/monthly/2001/04/countries_ntl_sum.csv
./data/earth_observation_group/monthly/2001/11/countries_ntl_sum.csv
./data/earth_observation_group/monthly/2001/01/countries_ntl_sum.csv
./data/earth_observation_group/monthly/2001/03/countries_ntl_sum.csv
./data/earth_observation_group/monthly/2001/10/countries_ntl_sum.csv
./data/earth_observation_group/monthly/2001/08/countries_ntl_sum.csv
./data/earth_observation_group/monthly/2001/12/countries_ntl_sum.csv
./data/earth_observation_group/monthly/2001/09/countries_ntl_sum.csv

In [22]:
a = [1,2,3]
a.remove(2)
a

[1, 3]